***MATHEMATICAL CALCULATION**

*1*  how many peoples are diabetes +ve

*2*  how many people are 50+ year old in given data

*3*  **how many people are 50+ year old  as well as covid +ve**

*4*  what is the percentage of being diabetes when age above 50+

*5*  how many people are less than 30 year old in given data set 

*6*  how many people are less than 30 year old and are diabaties positive 

*7*  what is the percentage of being diabetes when age less 30...........

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib as plt

In [3]:
sdata=pd.read_csv('diabetes.csv')

In [5]:
sdata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [42]:
diaposi=sdata.Outcome>0

In [38]:
diaposi

0       True
1      False
2       True
3      False
4       True
       ...
763    False
764    False
765    False
766     True
767    False
Name: Outcome, Length: 768, dtype: bool

In [15]:
diaposi.sum()

268

**HERE** ****268*** **are diabetes +ve**

In [48]:
gage=sdata.Age>50
gage.sum()

81

***81*** people are more than 50 year old in total data

In [58]:
diaposidata=sdata[diaposi]
diaposidata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

**this is data of the people who are Diabetes +ve**

In [64]:
oldpdata=diaposidata.Age>50
oldpdataF=diaposidata[oldpdata]

**The data of the people who are more than 50 year old and diabetes patient**

In [67]:
oldpdataF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
24,11,143,94,33,146,36.6,0.254,51,1
39,4,111,72,47,207,37.1,1.390,56,1
43,9,171,110,24,240,45.4,0.721,54,1
53,8,176,90,34,300,33.7,0.467,58,1
93,4,134,72,0,0,23.8,0.277,60,1
115,4,146,92,0,0,31.2,0.539,61,1
129,0,105,84,0,0,27.9,0.741,62,1
186,8,181,68,36,495,30.1,0.615,60,1
206,8,196,76,29,280,37.5,0.605,57,1
207,5,162,104,0,0,37.7,0.151,52,1
221,2,158,90,0,0,31.6,0.805,66,1
236,7,181,84,21,192,35.9,0.586,51,1
259,11,155,76,28,150,33.3,1.353,51,1
284,2,108,80,0,0,27.0,0.259,52,1
319,6,194,78,0,0,23.5,0.129,59,1
363,4,146,78,0,0,38.5,0.520,67,1
375,12,140,82,43,325,39.2,0.528,58,1
388,5,144,82,26,285,32.0,0.452,58,1
458,10,148,84,48,237,37.6,1.001,51,1
498,7,195,70,33,145,25.1,0.163,55,1
516,9,145,88,34,165,30.3,0.771,53,1
542,10,90,85,32,0,34.9,0.825,56,1
546,5,187,76,27,207,43.6,1.034,53,1
560,6,125,76,0,0,33.8,0.121,54,1
579,2,197,70,99,0,34.7,0.575,62,1
584,8,124,76,24,600,28.7,0.687,52,1
588,3,176,86,27,156,33.3,1.154,52,1
603,7,150,78,29,126,35.2,0.692,54,1
666,4,145,82,18,0,32.5,0.235,70,1
676,9,156,86,0,0,24.8,0.230,53,1
702,1,168,88,29,0,35.0,0.905,52,1
719,5,97,76,27,0,35.6,0.378,52,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1

In [73]:
oldpdataF.shape

(38, 9)

In [75]:
oldpdata.sum()

38

**There  are 38 people who are more than 50 year old and diabetes patient**

**thare are 81 people over 50 year age** 

**NOW THE PERCENTAGE OF THE PEOPLE OF BEING DIABETES +VE OVER 50 YEAR**

In [92]:
percentage=(oldpdata.sum()/gage.sum())*100

In [94]:
percentage

46.913580246913575

**THE PERCENTAGE OF BEING DIABETES POSITIVE OVER 50 YEAR IS** ***47%** (according to this data )

now finding average blood pressure of these peoples

In [134]:
oldpdata.sum()

38

In [136]:
average_BP=oldpdataF.BloodPressure.sum()/gage.sum()

In [138]:
average_BP

38.20987654320987

In [78]:
sdata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [100]:
teendata=sdata.Age<30
teendata.sum()

396

***696 people are less than 30 year old**

In [84]:
teegerdata=sdata[teendata]
teegerdata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

In [115]:
dibpteeni=teegerdata.Outcome>0
#dia +ve teenegers 
dibpteeni.sum()

84

In [ ]:
**84 of total 396 teengers are diabetes patient***

In [108]:
dibpteeniF=teegerdata[teegerdata.Outcome>0]
dibpteeniF

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
6,3,78,50,32,88,31.0,0.248,26,1
23,9,119,80,35,0,29.0,0.263,29,1
31,3,158,76,36,245,31.6,0.851,28,1
38,2,90,68,42,0,38.2,0.503,27,1
45,0,180,66,39,0,42.0,1.893,25,1
...,...,...,...,...,...,...,...,...,...
731,8,120,86,0,0,28.4,0.259,22,1
732,2,174,88,37,120,44.5,0.646,24,1
746,1,147,94,41,0,49.3,0.358,27,1
750,4,136,70,0,0,31.2,1.182,22,1
753,0,181,88,44,510,43.3,0.222,26,1

In [120]:
perct1=(dibpteeni.sum()/teendata.sum())*100
perct1

21.21212121212121

**percentage of beeing biabetes is 21.21 in teen.**